@import url('https://fonts.googleapis.com/css2?family=Mali:wght@200&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Mali' !important;
  color: black ;
}

.content {
  padding: 80px 24px 24px 24px;
}